h1 {
    color:blueviolet; 
    font-size: 40px;
}

#fourth{
    color: red
}
#fourth{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#third{
    color: orange
}

img {
    width: 400px;
}

body{
    background-attachment: scroll;
    background-image: url(flowerbackground.jpg);
}


